@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string[] data = new[] { "one", "two", "three" };

    Func<dynamic, object> showList =@<ul class="h4">
        @foreach (var ob in item)
        {
            <li>@ob</li>
        }
    </ul>;
}
@functions{
    string hello(string name){
        return $"Hello {name}!!";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h4">@Model.Message</p>
    <form asp-page="Index">
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password">Password</label>
            <input asp-for="@Model.Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Mail">Mail</label>
            <input asp-for="@Model.Mail" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Tel">Tel</label>
            <input asp-for="@Model.Tel" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>
<p class="h4">@hello("太郎")</p>
<p class="h4">@showList(data)</p>